.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;

    img {
        height: 100px;
    }
}