.app-hero-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    line-height: 1.5;
    color: #FFF;
    margin: 20px 0;

    &__section {
      width: 1200px;
    }

    &__title {
      color: #F4CE14;
      font-size: 53px;
    }

    &__sub-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__description {
      font-size: 21px;
    }

    &__btn {
      background: #F4CE14;
      color: #000;
      border-radius: 16px;
      padding: 12px 20px;
      width: 250px;
      font-weight: 600;
      font-size: 21px;
      cursor: pointer;
    }
  }
